.s6{
    /* height: 73vh; */
    height: 90vh;
    background-image: linear-gradient(
        69.73deg ,
        #FF0023 0.71%, 
        #AB00E7 40.37%, 
        #0056FF 79.06%, 
        #00FFB1 116.07%
    );
    background-size: 5028px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bg-animation 60s infinite;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.particles {
    width: 100%;
    height: 90vh;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: 0;
}



.s6 h1, p{
    color: #fff;
}

.s6 .text{
    height: 240px;
    text-align: right;
    z-index: 1;
}

.s6 .form{
    z-index: 1;
}
.s6 .text h1{
    line-height: 104px;
    font-size: 76px;
}

.s6 .text p{
    font-size: 20px;
}

.form{
    margin-left: 3.75rem;
}

.name-field, .email-field, .message-field{
    width: 310px;
    height: 42px;
    background: rgba(0, 0, 0, .45);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
}
.form p{ 
    margin-left: 1rem;
}

.message-field{
    height: 98px;
    background: rgba(0, 0, 0, .45);
    align-items: flex-start;
}

.message-field p{
    margin-top: .7rem;
}

.submit-btn{
    margin-top: .7rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    border: solid 1px white;
    transition: all 250ms ease-in-out;
}

.submit-btn:hover{
    cursor: pointer;
    margin-top: .7rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: white;
    color: #000;
    font-size: 1rem;
    mix-blend-mode: screen;
}

