.s4{
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: .5fr 4.5rem 1fr .5fr;
  grid-template-areas: ". . ."
    ". text ."
    "icons icons icons"
    ". . .";
    position: relative;
  }

.s4 h1, .s5 h1, .s6 h1 {
  color: rgba(174, 174, 174, 1);
  font-size: 4.5rem;
  font-family: 'Avenir-Black', sans-serif;
}

.s4 h1{
  width: 100%;
  margin: 0;
  margin-left: 13.75rem;
  grid-area: text;
}
.icons{
  width: 60vw;
  min-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  grid-area: icons;
}
.s4 ul{
  margin-top: 4.6rem;
}
.s4 li {
  display: inline-block;
}

.s4 li+li {
  margin-left: 135px;
}

.dot{
  height: 120px;
  width: 120px;
  border: 1.5px solid #5E0ED8;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 350ms ease-in-out;
}

#think{
  background-image: url(./img/process-icons/think.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 350ms ease-in-out;
}

#create{
  background-image: url(./img/process-icons/create.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 350ms ease-in-out;
}

#iterate{
  background-image: url(./img/process-icons/iterate.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 350ms ease-in-out;
}

#develop{
  background-image: url(./img/process-icons/develop.svg);
  background-position: 51% 52%;
  background-repeat: no-repeat;
  transition: all 350ms ease-in-out;
}

#deliver{
  background-image: url(./img/process-icons/deliver.svg);
  background-position: 47% 50%;
  background-repeat: no-repeat;
  transition: all 350ms ease-in-out;
}

.container:hover .dot {
  background-color: #5e0ed8;
  cursor: pointer;
}
.container:hover {
  cursor: pointer;
}

.container:hover #think{
  background-image: url(./img/process-icons-white/think.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container:hover #create{
  background-image: url(./img/process-icons-white/create.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container:hover #iterate{
  background-image: url(./img/process-icons-white/iterate.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container:hover #develop{
  background-image: url(./img/process-icons-white/develop.svg);
  background-position: 51% 52%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container:hover #deliver{
  background-image: url(./img/process-icons-white/deliver.svg);
  background-position: 47% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.s4 li a {
  display: block;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  color: #AEAEAE;
  font-family:  'Futura', sans-serif;
  font-size: 2.18rem;
  font-size: 1.7rem;
}