body
{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.video
{
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: 1920px; height: 1080px;
  pointer-events: none;
  background-size: cover;
  z-index: 0;
  transform: translate(0, -12%);
  background-position: center;
}

.video h3
{
  position: absolute;
  color: LightGrey;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  z-index: 1;
  opacity: 70%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}

p
{
  width: 500px;
  height: auto;
  min-width: 200px;
  color: LightGrey;
  font-size: 18px;
  opacity: 70%;
  text-align: left;
  margin-left: 65%;
  margin-top: 0;
  margin-bottom: 60px;
}
