body
{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.video
{
  min-width: 100%;
  min-height: 100%;
  width: 1920px; height: 1080px;
  pointer-events: none;
  object-position: center;
  object-fit: cover;
  margin-top: 60px;
}

.video h3
{
  color: LightGrey;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  opacity: 70%;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

p
{
  width: 500px;
  height: auto;
  min-width: 200px;
  color: LightGrey;
  font-size: 18px;
  opacity: 70%;
  text-align: left;
  margin-left: 65%;
  margin-top: 0;
  margin-bottom: 60px;
}
