* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: #0d0020;
  font-size: 16px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../../res/Futura Book Italic font.ttf");
}

h1 {
  font-weight: 400;
}

.particles {
  display: none;
}

.header {
  background-color: black;
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.logo-top {
  width: 120px;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio {
  min-height: 1.5vh;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.portfolio h1 {
  left: 0;
  position: absolute;
  z-index: 0;
  font-family: "Avenir-Black", sans-serif;
  color: #d1d1d1;
  font-size: 64px;
  text-align: left;
  pointer-events: none;
}

.portfolio .item-wrapper {
  width: 90%;
  margin-top: 60px;
}

.portfolio--item {
  width: 100%;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
}

.portfolio--item .pur-arrow {
  margin-left: 5px;
  margin-top: 3px;
}

.portfolio--item--image {
  width: 100%;
  border-radius: 5px;
  display: block;
}

.portfolio--item .text-wrapper {
  margin-top: 6px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio--item .text-wrapper a {
  text-decoration: none;
  color: #616161;
}

.portfolio--item:hover {
  cursor: pointer;
}

.portfolio .popup {
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: black;
  position: absolute;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.s6 {
  height: 90vh;
  background: linear-gradient(69.73deg, #ff0023 0.71%, #ab00e7 40.37%, #0056ff 79.06%, #00ffb1 116.07%);
  background-size: 5028px;
  -webkit-animation: bg-animation 60s infinite;
          animation: bg-animation 60s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .particles {
  width: 100%;
  height: 90vh;
  position: absolute;
  mix-blend-mode: overlay;
  z-index: 0;
}

.s6 h1 {
  font-family: "Avenir-Black", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
}

.s6 p {
  color: #fff;
  font-family: "Futura", sans-serif;
  max-width: 250px;
  text-align: center;
  font-size: 1rem;
}

.s6 .text {
  margin: 2rem 0;
  text-align: right;
  z-index: 1;
}

.s6 .text p {
  font-size: 20px;
}

.s6 .form {
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .form div {
  width: 82%;
  font-size: 1rem;
  max-width: 400px;
  font-family: "Futura", sans-serif;
}

.s6 .form .input {
  width: 82%;
}

.s6 #name-field,
.s6 #email-field,
.s6 textarea {
  width: 100%;
  margin-top: 0.625rem;
  font-family: "Futura", sans-serif;
  pointer-events: all;
  font-size: 1rem;
  max-width: 400px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem 1rem;
  border-radius: 5px;
  border: none;
  resize: none;
  caret-color: #0eb5d8;
}

.s6 #name-field::-webkit-input-placeholder,
.s6 #email-field::-webkit-input-placeholder,
.s6 textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:-ms-input-placeholder,
.s6 #email-field:-ms-input-placeholder,
.s6 textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::-ms-input-placeholder,
.s6 #email-field::-ms-input-placeholder,
.s6 textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::placeholder,
.s6 #email-field::placeholder,
.s6 textarea::placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:focus,
.s6 #email-field:focus,
.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 textarea {
  width: 82%;
  height: 98px;
  text-align: left;
  padding: 0.8rem 1rem;
}

.s6 textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 p {
  margin-top: 0.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  -webkit-text-fill-color: white;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.submit-btn {
  font-family: "Futura", sans-serif;
  pointer-events: all;
  margin-top: 1.3rem;
  padding: 1rem 2.3rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: solid 1px white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;
}

.submit-btn:hover {
  cursor: pointer;
  font-size: 1rem;
  color: #510e66;
  background: #fff;
  mix-blend-mode: screen;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .s6 .text {
    height: 260px;
    text-align: right;
    z-index: 1;
  }
  .s6 h1 {
    margin-left: auto;
    text-align: right;
    font-size: 50px;
    opacity: 0.6;
    pointer-events: none;
  }
  .s6 p {
    text-align: right;
    opacity: 0.75;
    color: #fff;
    font-family: "Futura", sans-serif;
    max-width: 300px;
    font-size: 1rem;
    margin: 0;
    margin-left: auto;
  }
  .s6 .form {
    width: 310px;
    margin-left: 3.75rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .s6 .form .input,
  .s6 .form textarea {
    width: 100%;
  }
}

.footer {
  font-size: 1rem;
}

.footer .follow {
  margin-top: 2rem;
}

.footer .follow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.footer .email {
  margin-top: 1rem;
}

.footer .follow,
.footer .email {
  margin-left: 3rem;
}

.footer .dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.footer .social--links {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.footer .social--links a {
  margin-left: 0.5rem;
}

.footer .social--links #tw {
  background: #1da1f5;
}

.footer .social--links #ig {
  background: #c801a5;
}

.footer .social--links #re {
  background: #ec6220;
}

.footer .follow p,
.footer .email p {
  margin-top: 0.5rem;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  color: #aeaeae;
}

.footer .social--links a,
.footer .email a {
  text-decoration: none;
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.footer .email a {
  display: inline-block;
  margin-top: 0.45rem;
}

.footer .copyright--info {
  margin-left: 3rem;
  font-family: "Futura", sans-serif;
  font-size: 0.7rem;
  color: #aeaeae;
  margin-top: 1.8rem;
  padding-bottom: 20px;
  opacity: 0.7;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .follow {
    margin-left: 12%;
  }
  .footer .email {
    margin-top: 2rem;
    margin-right: 12%;
  }
  .footer .email p {
    width: 100%;
    text-align: right;
  }
  .footer .copyright--info {
    margin-left: 12%;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  html {
    background: #0d0020;
  }
  .logo-top {
    width: 150px;
    top: 16px;
  }
  .particles {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #0d0020;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(87, 35, 122, 0.4);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #57237a;
  }
  .portfolio {
    background-color: transparent;
  }
  .portfolio h1 {
    width: 75%;
    max-width: 1280px;
    opacity: 0.4;
    margin-top: 0;
    position: static;
  }
  .portfolio .item-wrapper {
    margin-top: 0px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: minmax(400px, 570px) minmax(400px, 570px);
        grid-template-columns: minmax(400px, 570px) minmax(400px, 570px);
    grid-gap: 10px 20px;
  }
  .portfolio--item {
    margin-bottom: 0;
    opacity: 0.8;
  }
  .portfolio--item--image {
    width: 100%;
    height: 90%;
    max-height: 25vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio--item--image:hover {
    cursor: pointer;
  }
  .portfolio--item:hover {
    cursor: auto;
  }
  .portfolio .text-wrapper {
    opacity: 0;
    margin-top: 9px;
  }
  .portfolio .text-wrapper a {
    color: #fff;
    opacity: 0.6;
  }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .portfolio .item-wrapper {
    -ms-grid-rows: (356px)[3];
        grid-template-rows: repeat(3, 356px);
  }
  .portfolio--item--image {
    width: 100%;
    height: 90%;
    max-height: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */