* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: black;
  font-size: 16px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../../res/Futura Book Italic font.ttf");
}

h1 {
  font-weight: 400;
}

.particles {
  display: none;
}

.header {
  background-color: black;
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.logo-top {
  width: 120px;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 10;
  transform: translateX(-50%);
}

.portfolio {
  min-height: 1.5vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  //   transform: translateY(60px);
  background-color: white;

  h1 {
    left: 0;
    position: absolute;
    z-index: 0;
    // padding-left: 3.44px;
    // width: 97%;
    font-family: "Avenir-Black", sans-serif;
    color: #d1d1d1;
    font-size: 64px;
    text-align: left;
    pointer-events: none;
  }

  .item-wrapper {
    width: 90%;
    margin-top: 60px;
  }

  &--item {
    width: 100%;
    z-index: 1;
    cursor: pointer;
    // position: relative;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    font-family: "Futura", sans-serif;
    font-size: 1rem;

    .pur-arrow {
      // align-self: flex-end;
      // justify-self: flex-end;
      margin-left: 5px;
      margin-top: 3px;
    }

    &--image {
      width: 100%;

      border-radius: 5px;
      display: block;
    }

    .text-wrapper {
      margin-top: 6px;
      align-self: flex-end;
      display: flex;
      a {
        text-decoration: none;
        color: #616161;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .popup {
    height: 100vh;
    width: 100%;
    z-index: 2;
    background: black;
    position: absolute;
  }
}

@import "../../styles/contact";
@import "../../styles/footer";

@media only screen and (min-width: 768px) and (orientation: landscape) {
  html {
    background: #0d0020;
  }
  .logo-top {
    width: 150px;
    top: 16px;
  }
  .particles {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 7px;
    // height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #0d0020;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(87, 35, 122, 0.4);
    // background: #3b1f49;
    // background: #8132a8;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 35, 122);
    // background: #ae4dbf;
    // background: rgb(136, 4, 148);
  }
  .portfolio {
    h1 {
      width: 75%;
      max-width: 1280px;
      opacity: 0.4;
      margin-top: 0;
      position: static;
    }
    background-color: transparent;

    .item-wrapper {
      margin-top: 0px;
      display: grid;
      justify-content: center;
      // grid-template-columns: min-max(400px, 570px) min-max(400px, 570px);
      grid-template-columns: minmax(400px, 570px) minmax(400px, 570px);
      grid-gap: 5px 20px;
    }

    &--item {
      margin-bottom: 0;
      opacity: 0.8;
      &--image {
        &:hover {
          cursor: pointer;
        }
        width: 100%;
        height: 90%;
        max-height: 25vw;
        object-fit: cover;
      }
      &:hover {
        cursor: auto;
      }
    }

    .text-wrapper {
      opacity: 0;
      margin-top: 9px;
      a {
        color: #fff;
        opacity: 0.6;
      }
    }
  }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .portfolio {
    .item-wrapper {
      grid-template-rows: repeat(3, 356px);
    }

    &--item {
      &--image {
        width: 100%;
        height: 90%;
        max-height: none;
        object-fit: cover;
      }
    }
  }
}
