:root {
  --swiper-theme-color: #9d0bd6 !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: black;
  font-size: 16px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../../../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../../../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../../../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../../../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../../../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../../../res/Futura Book Italic font.ttf");
}

// .scrollContainer {
//   position: relative;
// }

.header {
  background-color: black;
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.logo-top {
  width: 120px;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 10;
  transform: translateX(-50%);
}

.arrow-wrapper {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}
.back-arrow {
  margin-left: 32px;
  width: 6px;
  z-index: 10;
}
.text-wrapper {
  margin-top: 90px;
  margin-left: 2rem;
  color: #fff;
  h1 {
    font-weight: 400;
    z-index: 0;
    // padding-left: 3.44px;
    // width: 97%;
    font-family: "Avenir-Black", sans-serif;
    color: #fff;
    font-size: 24px;
    text-align: left;
    pointer-events: none;
  }
  h3 {
    font-weight: 200;
    margin-top: 6px;
    color: #aeaeae;
    font-family: "Futura", sans-serif;
    font-size: 1rem;
  }
  h4 {
    // font-weight: 200;
    margin-top: 2px;
    color: #616161;
    font-family: "Futura", sans-serif;
    font-size: 14px;
  }
  p {
    width: 92%;
    margin-top: 9px;
    color: #aeaeae;
    font-family: "Futura", sans-serif;
    font-size: 14px;
  }
}

.images {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    cursor: pointer;
    opacity: 0;
    margin-bottom: 40px;
    border-radius: 5px;
    width: 90%;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 11;
  opacity: 0;
  pointer-events: none;

  .close-wrapper {
    z-index: 12;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-container {
    position: fixed !important;
    left: 50%;
    top: 50%;
    height: 100vh;
    width: 100%;
    transform: translate(-50%, -50%);
    // transform: rotate(90deg) !important;
    img {
      width: 100%;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: no-repeat;
    background-position: center;
    &::after {
      content: "" !important;
    }
  }

  .swiper-pagination {
    bottom: 25px !important;
  }

  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.3;
  }

  .swiper-pagination-bullet-active {
    background: #00f0ff;
    opacity: 0.8;
  }

  .swiper-button-prev {
    color: #f1f1f1;
    background-image: url("../../../img/general-icons/left-arrow.png") !important;
  }

  .swiper-button-next {
    background-image: url("../../../img/general-icons/right-arrow.png") !important;
  }
}

@import "../../../styles/contact";
@import "../../../styles/footer";
