:root {
  --swiper-theme-color: #9d0bd6 !important;
  --imageLoaded: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: #0d0020;
  font-size: 16px;
  overflow-x: hidden;
}

.particles2 {
  display: none;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../../../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../../../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../../../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../../../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../../../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../../../res/Futura Book Italic font.ttf");
}

.header {
  background-color: black;
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.logo-top {
  width: 120px;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.arrow-wrapper {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.back-arrow {
  margin-left: 32px;
  width: 6px;
  z-index: 10;
}

.text-wrapper {
  margin-top: 90px;
  margin-left: 2rem;
  color: #fff;
}

.text-wrapper h1 {
  font-weight: 400;
  z-index: 0;
  font-family: "Avenir-Black", sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: left;
  pointer-events: none;
}

.text-wrapper h3 {
  font-weight: 200;
  margin-top: 6px;
  color: #aeaeae;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
}

.text-wrapper h4 {
  margin-top: 2px;
  color: #616161;
  font-family: "Futura", sans-serif;
  font-size: 14px;
}

.text-wrapper p {
  width: 92%;
  margin-top: 9px;
  color: #aeaeae;
  font-family: "Futura", sans-serif;
  font-size: 14px;
}

.text-wrapper p a {
  color: #c561ec;
}

.images {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images img {
  cursor: pointer;
  margin-bottom: 40px;
  border-radius: 5px;
  width: 90%;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}

.popup .close-wrapper {
  z-index: 12;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .swiper-container {
  position: fixed !important;
  left: 50%;
  top: 50%;
  height: 92vh;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup .swiper-container img {
  width: 100%;
}

.popup .swiper-button-next,
.popup .swiper-button-prev {
  background: no-repeat;
  background-position: center;
}

.popup .swiper-button-next::after,
.popup .swiper-button-prev::after {
  content: "" !important;
}

.popup .swiper-pagination {
  bottom: 20px !important;
}

.popup .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.3;
}

.popup .swiper-pagination-bullet-active {
  background: #00f0ff;
  opacity: 0.8;
}

.popup .swiper-button-prev {
  color: #f1f1f1;
  background-image: url("../../../img/general-icons/left-arrow.png") !important;
}

.popup .swiper-button-next {
  background-image: url("../../../img/general-icons/right-arrow.png") !important;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.s6 {
  height: 95vh;
  background: linear-gradient(69.73deg, #ff0023 0.71%, #ab00e7 40.37%, #0056ff 79.06%, #00ffb1 116.07%);
  background-size: 5028px;
  -webkit-animation: bg-animation 60s infinite;
          animation: bg-animation 60s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .particles {
  width: 100%;
  height: 90vh;
  position: absolute;
  mix-blend-mode: overlay;
  z-index: 0;
}

.s6 h1 {
  font-family: "Avenir-Black", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
}

.s6 p {
  color: #fff;
  font-family: "Futura", sans-serif;
  max-width: 250px;
  text-align: center;
}

.s6 .text {
  margin-bottom: 2rem;
  text-align: right;
  z-index: 1;
}

.s6 .text p {
  font-size: 20px;
}

.s6 .form {
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .form div {
  width: 82%;
  font-size: 1rem;
  max-width: 400px;
  font-family: "Futura", sans-serif;
}

.s6 .form .input {
  width: 82%;
}

.s6 #name-field,
.s6 #email-field,
.s6 textarea {
  width: 100%;
  margin-top: 0.625rem;
  font-family: "Futura", sans-serif;
  pointer-events: all;
  font-size: 1rem;
  max-width: 400px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem 1rem;
  border-radius: 5px;
  border: none;
  resize: none;
  caret-color: #0eb5d8;
}

.s6 #name-field::-webkit-input-placeholder,
.s6 #email-field::-webkit-input-placeholder,
.s6 textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:-ms-input-placeholder,
.s6 #email-field:-ms-input-placeholder,
.s6 textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::-ms-input-placeholder,
.s6 #email-field::-ms-input-placeholder,
.s6 textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::placeholder,
.s6 #email-field::placeholder,
.s6 textarea::placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:focus,
.s6 #email-field:focus,
.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 textarea {
  width: 82%;
  height: 98px;
  text-align: left;
  padding: 0.8rem 1rem;
}

.s6 textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 p {
  margin-top: 0.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  -webkit-text-fill-color: white;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.submit-btn {
  font-family: "Futura", sans-serif;
  pointer-events: all;
  margin-top: 1.3rem;
  padding: 1rem 2.3rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: solid 1px white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;
}

.submit-btn:hover {
  cursor: pointer;
  font-size: 1rem;
  color: #510e66;
  background: #fff;
  mix-blend-mode: screen;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .s6 .text {
    height: 260px;
    text-align: right;
    z-index: 1;
  }
  .s6 h1 {
    margin-left: auto;
    text-align: right;
    font-size: 50px;
    opacity: 0.6;
    pointer-events: none;
  }
  .s6 p {
    text-align: right;
    opacity: 0.75;
    color: #fff;
    font-family: "Futura", sans-serif;
    max-width: 300px;
    font-size: 1rem;
    margin: 0;
    margin-left: auto;
  }
  .s6 .text {
    margin-top: 2rem;
  }
  .s6 .form {
    width: 310px;
    margin-left: 3.75rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .s6 .form .input,
  .s6 .form textarea {
    width: 100%;
  }
}

.footer {
  font-size: 1rem;
}

.footer .follow {
  margin-top: 2rem;
}

.footer .follow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.footer .email {
  margin-top: 1rem;
}

.footer .follow,
.footer .email {
  margin-left: 3rem;
}

.footer .dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.footer .social--links {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.footer .social--links a {
  margin-left: 0.5rem;
}

.footer .social--links #tw {
  background: #1da1f5;
}

.footer .social--links #ig {
  background: #c801a5;
}

.footer .social--links #re {
  background: #ec6220;
}

.footer .follow p,
.footer .email p {
  margin-top: 0.5rem;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  color: #aeaeae;
}

.footer .social--links a,
.footer .email a {
  text-decoration: none;
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.footer .email a {
  display: inline-block;
  margin-top: 0.45rem;
}

.footer .copyright--info {
  margin-left: 3rem;
  font-family: "Futura", sans-serif;
  font-size: 0.7rem;
  color: #aeaeae;
  margin-top: 1.8rem;
  padding-bottom: 20px;
  opacity: 0.7;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .follow {
    margin-left: 12%;
  }
  .footer .email {
    margin-top: 2rem;
    margin-right: 12%;
  }
  .footer .email p {
    width: 100%;
    text-align: right;
  }
  .footer .copyright--info {
    margin-left: 12%;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  html {
    background: #0d0020;
  }
  .particles2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .logo-top {
    width: 150px;
    top: 16px;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #0d0020;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(87, 35, 122, 0.4);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #57237a;
  }
  .arrow-wrapper {
    left: 10%;
  }
  .text-wrapper {
    margin-left: 60px;
    margin-top: 130px;
    z-index: 2;
  }
  .text-wrapper h1 {
    font-size: 40px;
    color: #fff;
    opacity: 0.4;
    margin-top: 0;
  }
  .text-wrapper p {
    line-height: 1.2rem;
    width: 70%;
  }
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .images {
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: minmax(400px, 570px) minmax(400px, 570px);
        grid-template-columns: minmax(400px, 570px) minmax(400px, 570px);
    -ms-grid-rows: (minmax(240px, 25vw))[5];
        grid-template-rows: repeat(5, minmax(240px, 25vw));
    grid-gap: 5px 20px;
  }
  .images img {
    width: 100%;
    opacity: 0;
    z-index: 2;
    height: 90%;
    max-height: 25vw;
    margin: 0;
    margin-bottom: 21px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .images {
    -ms-grid-rows: (356px)[5];
        grid-template-rows: repeat(5, 356px);
  }
  .images img {
    width: 100%;
    height: 90%;
    max-height: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .text-wrapper {
    width: 1000px;
    margin-left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */