:root {
  --swiper-theme-color: #9d0bd6 !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: black;
  font-size: 16px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../../../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../../../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../../../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../../../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../../../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../../../res/Futura Book Italic font.ttf");
}

.header {
  background-color: black;
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.logo-top {
  width: 120px;
  position: fixed;
  left: 50%;
  top: 20px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.arrow-wrapper {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.back-arrow {
  margin-left: 32px;
  width: 6px;
  z-index: 10;
}

.text-wrapper {
  margin-top: 90px;
  margin-left: 2rem;
  color: #fff;
}

.text-wrapper h1 {
  font-weight: 400;
  z-index: 0;
  font-family: "Avenir-Black", sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: left;
  pointer-events: none;
}

.text-wrapper h3 {
  font-weight: 200;
  margin-top: 6px;
  color: #aeaeae;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
}

.text-wrapper h4 {
  margin-top: 2px;
  color: #616161;
  font-family: "Futura", sans-serif;
  font-size: 14px;
}

.text-wrapper p {
  width: 92%;
  margin-top: 9px;
  color: #aeaeae;
  font-family: "Futura", sans-serif;
  font-size: 14px;
}

.images {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images img {
  opacity: 0;
  margin-bottom: 30px;
  border-radius: 5px;
  width: 90%;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}

.popup .close-wrapper {
  z-index: 12;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container {
  position: fixed !important;
  left: 50%;
  top: 50%;
  height: 100vh;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-container img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background: no-repeat;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-pagination {
  bottom: 25px !important;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background: #8f0ab1;
  width: 8px;
  height: 8px;
  opacity: 0.8;
}

.swiper-button-prev {
  color: #f1f1f1;
  background-image: url("../../../img/general-icons/left-arrow.png") !important;
}

.swiper-button-next {
  background-image: url("../../../img/general-icons/right-arrow.png") !important;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.s6 {
  height: 90vh;
  background: linear-gradient(69.73deg, #ff0023 0.71%, #ab00e7 40.37%, #0056ff 79.06%, #00ffb1 116.07%);
  background-size: 5028px;
  -webkit-animation: bg-animation 60s infinite;
          animation: bg-animation 60s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .particles {
  width: 100%;
  height: 90vh;
  position: absolute;
  mix-blend-mode: overlay;
  z-index: 0;
}

.s6 h1 {
  font-family: "Avenir-Black", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
}

.s6 p {
  color: #fff;
  font-family: "Futura", sans-serif;
  max-width: 250px;
  text-align: center;
  font-size: 1rem;
}

.s6 .text {
  margin: 2rem 0;
  text-align: right;
  z-index: 1;
}

.s6 .text p {
  font-size: 20px;
}

.s6 .form {
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .form div {
  width: 82%;
  font-size: 1rem;
  max-width: 400px;
  font-family: "Futura", sans-serif;
  padding-top: 3px;
}

.s6 .form .input {
  width: 82%;
}

.s6 #name-field,
.s6 #email-field,
.s6 textarea {
  width: 100%;
  margin-top: 0.625rem;
  font-family: "Futura", sans-serif;
  pointer-events: all;
  font-size: 1rem;
  max-width: 400px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem 1rem;
  border-radius: 5px;
  border: none;
  resize: none;
  caret-color: #0eb5d8;
}

.s6 #name-field::-webkit-input-placeholder,
.s6 #email-field::-webkit-input-placeholder,
.s6 textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:-ms-input-placeholder,
.s6 #email-field:-ms-input-placeholder,
.s6 textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::-ms-input-placeholder,
.s6 #email-field::-ms-input-placeholder,
.s6 textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::placeholder,
.s6 #email-field::placeholder,
.s6 textarea::placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:focus,
.s6 #email-field:focus,
.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 textarea {
  width: 82%;
  height: 98px;
  text-align: left;
  padding: 0.8rem 1rem;
}

.s6 textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 p {
  margin-top: 0.7rem;
}

.submit-btn {
  font-family: "Futura", sans-serif;
  pointer-events: all;
  margin-top: 1.3rem;
  padding: 1rem 2.3rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: solid 1px white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #000;
  font-size: 1rem;
  mix-blend-mode: screen;
}

.footer {
  font-size: 1rem;
}

.footer .follow {
  margin-top: 2rem;
}

.footer .follow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.footer .email {
  margin-top: 1rem;
}

.footer .follow,
.footer .email {
  margin-left: 3rem;
}

.footer .dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.footer .social--links {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.footer .social--links a {
  margin-left: 0.5rem;
}

.footer .social--links #tw {
  background: #1da1f5;
}

.footer .social--links #ig {
  background: #c801a5;
}

.footer .social--links #re {
  background: #ec6220;
}

.footer .follow p,
.footer .email p {
  margin-top: 0.5rem;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  color: #aeaeae;
}

.footer .social--links a,
.footer .email a {
  text-decoration: none;
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.footer .email a {
  display: inline-block;
  margin-top: 0.45rem;
}

.footer .copyright--info {
  margin-left: 3rem;
  font-family: "Futura", sans-serif;
  font-size: 0.7rem;
  color: #aeaeae;
  margin-top: 1.8rem;
  padding-bottom: 2.3rem;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */