@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.s6 {
  height: 90vh;
  background-image: linear-gradient(
    69.73deg,
    #ff0023 0.71%,
    #ab00e7 40.37%,
    #0056ff 79.06%,
    #00ffb1 116.07%
  );
  background-size: 5028px;
  // background-color: #0eb5d8;
  // background-color: #5e0ed8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bg-animation 60s infinite;

  .particles {
    width: 100%;
    height: 90vh;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: 0;
  }

  h1 {
    font-family: "Avenir-Black", sans-serif;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    pointer-events: none;
  }

  p {
    color: #fff;
    font-family: "Futura", sans-serif;
    max-width: 250px;
    text-align: center;
    font-size: 1rem;
  }

  .text {
    margin: 2rem 0;
    text-align: right;
    z-index: 1;

    p {
      font-size: 20px;
    }
  }

  .form {
    width: 100%;
    pointer-events: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // div {
    //   width: 82%;
    //   font-size: 1rem;
    //   max-width: 400px;
    //   font-family: "Futura", sans-serif;
    //   padding-top: 3px;
    // }

    .input {
      width: 82%;
    }
  }

  #name-field,
  #email-field,
  textarea {
    width: 100%;
    margin-top: 0.625rem;
    font-family: "Futura", sans-serif;
    pointer-events: all;
    font-size: 1rem;
    max-width: 400px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    box-sizing: border-box;
    padding: 0rem 1rem;
    border-radius: 5px;
    border: none;
    resize: none;
    caret-color: #0eb5d8;
    &::placeholder {
      color: white;
      opacity: 0.8;
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  textarea {
    width: 82%;
    height: 98px;
    text-align: left;
    padding: 0.8rem 1rem;

    &::placeholder {
      font-size: 1rem;
      color: white;
      opacity: 0.8;
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  p {
    margin-top: 0.7rem;
  }
}

.submit-btn {
  font-family: "Futura", sans-serif;
  pointer-events: all;
  margin-top: 1.3rem;
  padding: 1rem 2.3rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: solid 1px white;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #000;
    font-size: 1rem;
    mix-blend-mode: screen;
  }
}
