.footer {
  font-size: 1rem;

  .follow {
    margin-top: 2rem;

    ul {
      display: flex;
      margin-top: 0.5rem;
    }
  }

  .email {
    margin-top: 1rem;
  }

  .follow,
  .email {
    margin-left: 3rem;
  }

  .dots {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    transform: translateY(-80%);
  }
  .social--links {
    width: 4rem;
    display: flex;
    align-items: flex-end;
    position: relative;

    a {
      margin-left: 0.5rem;
    }
    #tw {
      background: #1da1f5;
    }

    #ig {
      background: #c801a5;
    }

    #re {
      background: #ec6220;
    }
  }

  .follow p,
  .email p {
    margin-top: 0.5rem;
    font-family: "Futura", sans-serif;
    font-size: 1rem;
    color: #aeaeae;
  }

  .social--links a,
  .email a {
    text-decoration: none;
    font-family: "Avenir", sans-serif;
    font-size: 1rem;
    color: #fff;
  }

  .email a {
    display: inline-block;
    margin-top: 0.45rem;
  }

  .copyright--info {
    margin-left: 3rem;
    font-family: "Futura", sans-serif;
    font-size: 0.7rem;
    color: #aeaeae;
    margin-top: 1.8rem;
    padding-bottom: 2.3rem;
    opacity: 0.7;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    .links {
      display: flex;
      justify-content: space-between;
    }
    .follow {
      margin-left: 12%;
    }
    .email {
      margin-top: 2rem;
      margin-right: 12%;

      p {
        width: 100%;
        text-align: right;
      }
    }

    .copyright--info {
      margin-left: 12%;
    }
  }
}
