@mixin icons($name) {
  background-image: url($name);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 350ms ease-in-out;
}

@mixin iconsHover($name) {
  background-image: url($name);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.s4 {
  background: white;
  display: grid;
  grid-template-columns:
    minmax(32px, 1fr) minmax(250px, 1fr)
    minmax(32px, 1fr);
  grid-template-rows: 2rem 2rem 1fr minmax(50px, 70px);
  grid-template-areas:
    ". . ."
    "text text text"
    ". icons ."
    ". . .";
  position: relative;
  margin-top: 0;

  h1 {
    color: #aeaeae;
    font-size: 2rem;
    font-family: "Avenir-Black", sans-serif;
    width: 60%;
    margin: 0 auto;
    /* margin-left: 10%; */
    grid-area: text;
  }

  .icons {
    width: 100%;
    max-width: 250px;
    height: 100%;
    grid-area: icons;
    margin-top: 1rem;
    ul {
      display: grid;
      grid-template-columns: 70px 70px;
      justify-content: space-around;
    }

    li {
      min-width: 70px;
      list-style: none;
      margin-top: 1.75rem;
      a {
        display: block;
        margin-top: 1rem;
        text-align: center;
        text-decoration: none;
        color: #aeaeae;
        font-family: "Futura", sans-serif;
        font-size: 1.25rem;
      }
    }

    li:nth-child(6) {
      height: auto;
      width: auto;
      a {
        width: 80px;
        text-align: left;
        margin-top: -2rem;
        margin-left: 1.5rem;
      }
    }

    .dot {
      height: 67px;
      width: 67px;
      border: 1.5px solid #5e0ed8;
      border-radius: 50%;
      display: block;
      position: relative;
      transition: all 350ms ease-in-out;
    }

    #think {
      @include icons("../img/process-icons-mobile/think.svg");
    }
    #create {
      @include icons("../img/process-icons-mobile/create.svg");
    }
    #iterate {
      @include icons("../img/process-icons-mobile/iterate.svg");
    }
    #develop {
      @include icons("../img/process-icons-mobile/develop.svg");
    }
    #deliver {
      @include icons("../img/process-icons-mobile/deliver.svg");
    }
    #tap {
      @include icons("../img/process-icons-mobile/tap.svg");
      margin-left: -25px;
      border: none;
    }

    .container {
      &:hover {
        cursor: pointer;
        .dot {
          background-color: #5e0ed8;
        }

        #think {
          @include icons("../img/process-icons-mobile-white/think.svg");
        }
        #create {
          @include icons("../img/process-icons-mobile-white/create.svg");
        }
        #iterate {
          @include icons("../img/process-icons-mobile-white/iterate.svg");
        }
        #develop {
          @include icons("../img/process-icons-mobile-white/develop.svg");
        }
        #deliver {
          @include icons("../img/process-icons-mobile-white/deliver.svg");
        }
      }
    }

    li:nth-child(6):hover .dot {
      background-color: transparent;
    }
  }
}
