.s5 {
  background: white;
  height: auto;
  position: relative;

  h1 {
    font-family: "Avenir-Black", sans-serif;
    color: #aeaeae;
    width: 80%;
    max-width: 235px;
    margin: 0 auto;
    pointer-events: all;
  }

  h3 {
    font-family: "Futura", sans-serif;
    color: #000000;
    font-size: 1.25rem;
    margin-top: 1.75rem;
    font-weight: 400;
    pointer-events: all;
  }

  ul {
    list-style: none;
    pointer-events: all;
  }

  .services-content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 5rem;
  }

  .content-list-items {
    margin-left: 1.25rem;
    margin-top: 0.7rem;

    li {
      max-width: 215px;
      font-family: "Futura", sans-serif;
      font-size: 1rem;
      margin-top: 0.7rem;
      color: #616161;
    }
  }

  .list-group2 {
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s5 {
    background: none;
    padding-bottom: 120px;
    pointer-events: none;

    h1 {
      font-size: 40px;
      min-width: 450px;
      color: #fff;
      opacity: 0.4;
    }

    h3,
    p {
      max-width: none;
      color: #fff;
      font-size: 1rem;
      opacity: 0.8;
    }

    .content-list-items {
      li {
        max-width: none;
        color: #fff;
        font-size: 1rem;
        opacity: 0.6;
      }
    }

    #horizontal {
      ul {
        display: flex;
      }
    }
    .list-group2 {
      width: 120px;
      margin-left: auto;
    }
  }
}
