* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: #0d0020;
  font-size: 16px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../res/Futura Book Italic font.ttf");
}

.preload,
.menu-hidden,
#myvideo,
.toggle-btn {
  display: none;
}

h1 {
  font-weight: 400;
}

.s1 {
  background-color: #0d0020;
  overflow-x: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 10;
  top: 0;
  opacity: 0;
}

.logo-top {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.hero {
  opacity: 0.8;
  height: 100vh;
  overflow: hidden;
}

.stick {
  height: 0;
  width: 100%;
  position: relative;
}

.mobile-hero {
  width: 400%;
  -webkit-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}

.scrollArrow {
  position: absolute;
  width: 40px;
  left: 50%;
  opacity: 0;
  z-index: 1;
}

.s2 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s2 .text-wrapper {
  margin: auto auto;
  padding: 0 0;
}

.s2 .text-wrapper h1 {
  color: #fff;
  font-family: "Avenir-Black", sans-serif;
  opacity: 0.4;
  font-size: 1.5em;
  line-height: 1.5rem;
  max-width: 210px;
}

.s2 .text-wrapper p {
  font-family: "Futura";
  margin-top: 1rem;
  max-width: 230px;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  font-size: 1rem;
}

.particles {
  height: 100%;
  position: absolute;
  z-index: 0;
}

.mobile-hero {
  height: 100%;
  pointer-events: none;
  z-index: 0;
  position: absolute;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.video {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myvideo {
  height: 100%;
  display: block;
  overflow: hidden;
  pointer-events: none;
  background: transparent;
  z-index: 1;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.s3 {
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1fr, 32px) minmax(300px, 500px) minmax(1fr, 32px);
      grid-template-columns: minmax(1fr, 32px) minmax(300px, 500px) minmax(1fr, 32px);
  -ms-grid-rows: 500px 350px;
      grid-template-rows: 500px 350px;
      grid-template-areas: "gallery gallery gallery" "texts3 texts3 texts3";
  margin-top: -30%;
}

.s3 .text-wrapper {
  width: 100%;
  height: 110%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: texts3;
  background: white;
  min-height: 350px;
  margin-top: -10px;
}

.s3 .text-wrapper h1 {
  color: #aeaeae;
  font-size: 2rem;
  font-family: "Avenir-Black", sans-serif;
  margin-bottom: 0.6rem;
  display: inline-block;
}

.s3 .text-wrapper p {
  font-family: "Futura";
  color: #616161;
  font-size: 1rem;
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.s3 .text-container {
  width: 60%;
  margin: 3.6rem auto;
}

.gallery-list {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: gallery;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

.gallery-list li {
  list-style-type: none;
  z-index: -2;
}

.gallery-list li:nth-child(1) {
  width: 66%;
  max-width: 535px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery-list li:nth-child(2) {
  width: 85%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery-list li:nth-child(3) {
  position: absolute;
  bottom: 0;
}

.gallery-list li:nth-child(4) {
  display: none;
}

.gallery-list img {
  width: 100%;
}

.portfolio-btn {
  padding: 0.5rem 1.25rem;
  border: 1px solid #5e0ed8;
  background-color: transparent;
  border-radius: 4px;
  font-family: "Futura";
  color: #5e0ed8;
  font-size: 1rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: #5e0ed8;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .s3 .text-wrapper {
    margin-left: 15vw;
  }
  .s3 .text-wrapper p {
    min-width: 250px;
  }
  .gallery-list {
    margin-right: 15vw;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: none;
            transform: none;
    margin-top: 0;
    min-height: auto;
    padding-bottom: 50px;
  }
  .s3 .text-wrapper {
    width: 50%;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s3 .text-wrapper h1 {
    font-size: 40px;
    color: #fff;
    opacity: 0.4;
  }
  .s3 .text-wrapper p {
    max-width: none;
    min-width: 150px;
    color: #fff;
    font-size: 1rem;
    opacity: 0.8;
  }
  .portfolio-btn {
    color: #fff;
    opacity: 0.99;
  }
  .gallery-list {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-list li:nth-child(n) {
    left: 0;
    -webkit-transform: none;
            transform: none;
    width: 90%;
    position: relative;
  }
  .gallery-list li:nth-child(1) {
    width: 90%;
    min-width: 280px;
    max-width: 450px;
  }
  .gallery-list li:nth-child(2) {
    width: 70%;
    min-width: 220px;
    max-width: 350px;
  }
  .gallery-list li:nth-child(3) {
    display: none;
  }
  .gallery-list li:nth-child(4) {
    display: none;
  }
  .gallery-list img {
    border-radius: 5px;
  }
  .gallery-list li {
    position: relative;
  }
}

.s4 {
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(32px, 1fr) minmax(250px, 1fr) minmax(32px, 1fr);
      grid-template-columns: minmax(32px, 1fr) minmax(250px, 1fr) minmax(32px, 1fr);
  -ms-grid-rows: 2rem 2rem 1fr minmax(50px, 70px);
      grid-template-rows: 2rem 2rem 1fr minmax(50px, 70px);
      grid-template-areas: ". . ." "text text text" "icons icons icons" ". . .";
  position: relative;
  margin-top: 0;
}

.s4 h1 {
  color: #aeaeae;
  font-size: 2rem;
  font-family: "Avenir-Black", sans-serif;
  width: 80%;
  max-width: 235px;
  margin: 0 auto;
  /* margin-left: 10%; */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text;
}

.s4 a {
  display: block;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
  color: #aeaeae;
  font-family: "Futura", sans-serif;
  font-size: 1.25rem;
  pointer-events: none;
}

.s4 .icons {
  margin-top: 2rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: icons;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 70px 70px 1fr;
      grid-template-columns: 1fr 70px 70px 1fr;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
      grid-template-areas: ". think create ." ". iterate develop ." ". deliver tap .";
  grid-gap: 1.1rem 3rem;
}

.s4 .icons .popup {
  z-index: 3;
  position: absolute;
  width: 90%;
  height: 100%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s4 .icons .popup p {
  width: 60%;
  margin-top: 140px;
  font-family: "Futura", sans-serif;
  color: white;
}

.s4 .icons .popup .one,
.s4 .icons .popup .two {
  display: block;
  width: 50%;
  left: 0;
  height: 100%;
  z-index: 4;
  position: absolute;
  background: transparent;
}

.s4 .icons .popup .two {
  left: 50%;
}

.s4 .icons .popup .nav--indicators {
  position: absolute;
  left: 50%;
  bottom: 8%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.s4 .icons .popup .nav--indicators ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s4 .icons .popup .nav--indicators .sel {
  width: 8px;
  height: 8px;
  opacity: 1;
}

.s4 .icons .popup .nav--indicators li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  list-style: none;
  background: white;
  opacity: 0.3;
}

.s4 .icons .popup .nav--indicators li:not(:first-child) {
  margin-left: 0.87rem;
}

.s4 .icons .popup .nav--hor {
  position: absolute;
  width: 100%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.s4 .icons .popup .nav--hor .left {
  margin-top: 20px;
  padding-left: 1.3rem;
}

.s4 .icons .popup .nav--hor .right {
  margin-top: 20px;
  padding-right: 1.3rem;
}

.s4 .icons .popup .close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s4 .icons #think {
  background-image: url("../img/process-icons-mobile/think.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons #create {
  background-image: url("../img/process-icons-mobile/create.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons #iterate {
  background-image: url("../img/process-icons-mobile/iterate.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons #develop {
  background-image: url("../img/process-icons-mobile/develop.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons #deliver {
  background-image: url("../img/process-icons-mobile/deliver.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons #tap {
  background-image: url("../img/process-icons-mobile/tap-purp.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  margin-left: -25px;
  border: none;
}

.s4 .icons .container--think .dot, .s4 .icons .container--create .dot, .s4 .icons .container--iterate .dot, .s4 .icons .container--develop .dot, .s4 .icons .container--deliver .dot {
  height: 67px;
  width: 67px;
  border: 1.5px solid #5e0ed8;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--think:hover, .s4 .icons .container--create:hover, .s4 .icons .container--iterate:hover, .s4 .icons .container--develop:hover, .s4 .icons .container--deliver:hover {
  cursor: pointer;
}

.s4 .icons .container--think:hover .dot, .s4 .icons .container--create:hover .dot, .s4 .icons .container--iterate:hover .dot, .s4 .icons .container--develop:hover .dot, .s4 .icons .container--deliver:hover .dot {
  background-color: #5e0ed8;
}

.s4 .icons .container--think:hover #think, .s4 .icons .container--create:hover #think, .s4 .icons .container--iterate:hover #think, .s4 .icons .container--develop:hover #think, .s4 .icons .container--deliver:hover #think {
  background-image: url("../img/process-icons-mobile-white/think.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--think:hover #create, .s4 .icons .container--create:hover #create, .s4 .icons .container--iterate:hover #create, .s4 .icons .container--develop:hover #create, .s4 .icons .container--deliver:hover #create {
  background-image: url("../img/process-icons-mobile-white/create.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--think:hover #iterate, .s4 .icons .container--create:hover #iterate, .s4 .icons .container--iterate:hover #iterate, .s4 .icons .container--develop:hover #iterate, .s4 .icons .container--deliver:hover #iterate {
  background-image: url("../img/process-icons-mobile-white/iterate.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--think:hover #develop, .s4 .icons .container--create:hover #develop, .s4 .icons .container--iterate:hover #develop, .s4 .icons .container--develop:hover #develop, .s4 .icons .container--deliver:hover #develop {
  background-image: url("../img/process-icons-mobile-white/develop.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--think:hover #deliver, .s4 .icons .container--create:hover #deliver, .s4 .icons .container--iterate:hover #deliver, .s4 .icons .container--develop:hover #deliver, .s4 .icons .container--deliver:hover #deliver {
  background-image: url("../img/process-icons-mobile-white/deliver.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--think {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: think;
}

.s4 .icons .container--create {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: create;
}

.s4 .icons .container--iterate {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: iterate;
}

.s4 .icons .container--develop {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: develop;
}

.s4 .icons .container--deliver {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: deliver;
}

.s4 .icons .container--tap {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tap;
  height: auto;
  width: auto;
}

.s4 .icons .container--tap a {
  width: 80px;
  text-align: left;
  margin-top: -2rem;
  margin-left: 1.5rem;
}

.s4 .icons .container--tap .dot {
  height: 67px;
  width: 67px;
  border: 1.5px solid #5e0ed8;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.s4 .icons .container--tap:hover .dot {
  background-color: transparent;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s4 {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(32px, 300px) minmax(500px, 1fr) minmax(32px, 300px);
        grid-template-columns: minmax(32px, 300px) minmax(500px, 1fr) minmax(32px, 300px);
    -ms-grid-rows: 50px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: ". text ." ". icons .";
    position: relative;
    padding-top: 150px;
    padding-bottom: 160px;
    pointer-events: none;
  }
  .s4 h1 {
    pointer-events: all;
    width: 100%;
    max-width: 700px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    font-size: 40px;
    color: #fff;
    opacity: 0.4;
  }
  .s4 a {
    margin-top: 15px;
  }
  .s4 h3 {
    max-width: none;
    color: #fff;
    font-size: 1rem;
    opacity: 0.8;
  }
  .s4 .icons {
    pointer-events: all;
    width: 100%;
    max-width: 700px;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: icons;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (70px)[5];
        grid-template-columns: repeat(5, 70px);
    grid-gap: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "think create iterate develop deliver";
  }
  .s4 .icons .popup .one,
  .s4 .icons .popup .two {
    top: 1px;
    width: 83%;
    height: 170px;
    left: -32%;
  }
  .s4 .icons .popup .two {
    left: 50%;
  }
  .s4 .icons .popup p {
    width: 80%;
    margin-top: 85px;
  }
  .s4 .icons .popup .nav--indicators {
    pointer-events: none;
    bottom: -45px;
  }
  .s4 .icons .popup .nav--hor {
    top: 85px;
    width: 140%;
  }
  .s4 .icons .popup .close-btn {
    top: 0;
    right: -28%;
  }
  .s4 .icons .container--think:hover, .s4 .icons .container--create:hover, .s4 .icons .container--iterate:hover, .s4 .icons .container--develop:hover, .s4 .icons .container--deliver:hover {
    cursor: pointer;
  }
  .s4 .icons .container--think:hover .dot, .s4 .icons .container--create:hover .dot, .s4 .icons .container--iterate:hover .dot, .s4 .icons .container--develop:hover .dot, .s4 .icons .container--deliver:hover .dot {
    background-color: #5e0ed8;
  }
  .s4 .icons .container--think {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: think;
  }
  .s4 .icons .container--create {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: create;
  }
  .s4 .icons .container--iterate {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: iterate;
  }
  .s4 .icons .container--develop {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: develop;
  }
  .s4 .icons .container--deliver {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: deliver;
  }
  .s4 .icons .container--tap {
    display: none;
  }
  .s4 .icons #think {
    background-image: url("../img/process-icons/think.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .s4 .icons #create {
    background-image: url("../img/process-icons/create.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .s4 .icons #iterate {
    background-image: url("../img/process-icons/iterate.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .s4 .icons #develop {
    background-image: url("../img/process-icons/develop.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .s4 .icons #deliver {
    background-image: url("../img/process-icons/deliver.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .s4 .icons #tap {
    background-image: url("../img/process-icons/tap-purp.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    margin-left: -25px;
    border: none;
  }
}

.s5 {
  background: white;
  height: auto;
  position: relative;
}

.s5 h1 {
  font-family: "Avenir-Black", sans-serif;
  color: #aeaeae;
  width: 80%;
  max-width: 235px;
  margin: 0 auto;
  pointer-events: all;
}

.s5 h3 {
  font-family: "Futura", sans-serif;
  color: #000000;
  font-size: 1.25rem;
  margin-top: 1.75rem;
  font-weight: 400;
  pointer-events: all;
}

.s5 ul {
  list-style: none;
  pointer-events: all;
}

.s5 .services-content {
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.s5 .content-list-items {
  margin-left: 1.25rem;
  margin-top: 0.7rem;
}

.s5 .content-list-items li {
  max-width: 215px;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  margin-top: 0.7rem;
  color: #616161;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s5 {
    background: none;
    padding-bottom: 120px;
    pointer-events: none;
  }
  .s5 h1 {
    font-size: 40px;
    min-width: 450px;
    color: #fff;
    opacity: 0.4;
  }
  .s5 h3,
  .s5 p {
    max-width: none;
    color: #fff;
    font-size: 1rem;
    opacity: 0.8;
  }
  .s5 .content-list-items li {
    max-width: none;
    color: #fff;
    font-size: 1rem;
    opacity: 0.6;
  }
  .s5 #horizontal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s5 .list-group2 {
    width: 120px;
    margin-left: auto;
  }
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.s6 {
  height: 95vh;
  background: linear-gradient(69.73deg, #ff0023 0.71%, #ab00e7 40.37%, #0056ff 79.06%, #00ffb1 116.07%);
  background-size: 5028px;
  -webkit-animation: bg-animation 60s infinite;
          animation: bg-animation 60s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .particles {
  width: 100%;
  height: 90vh;
  position: absolute;
  mix-blend-mode: overlay;
  z-index: 0;
}

.s6 h1 {
  font-family: "Avenir-Black", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  pointer-events: none;
}

.s6 p {
  color: #fff;
  font-family: "Futura", sans-serif;
  max-width: 250px;
  text-align: center;
}

.s6 .text {
  margin-bottom: 2rem;
  text-align: right;
  z-index: 1;
}

.s6 .text p {
  font-size: 20px;
}

.s6 .form {
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s6 .form div {
  width: 82%;
  font-size: 1rem;
  max-width: 400px;
  font-family: "Futura", sans-serif;
}

.s6 .form .input {
  width: 82%;
}

.s6 #name-field,
.s6 #email-field,
.s6 textarea {
  width: 100%;
  margin-top: 0.625rem;
  font-family: "Futura", sans-serif;
  pointer-events: all;
  font-size: 1rem;
  max-width: 400px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem 1rem;
  border-radius: 5px;
  border: none;
  resize: none;
  caret-color: #0eb5d8;
}

.s6 #name-field::-webkit-input-placeholder,
.s6 #email-field::-webkit-input-placeholder,
.s6 textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:-ms-input-placeholder,
.s6 #email-field:-ms-input-placeholder,
.s6 textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::-ms-input-placeholder,
.s6 #email-field::-ms-input-placeholder,
.s6 textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field::placeholder,
.s6 #email-field::placeholder,
.s6 textarea::placeholder {
  color: white;
  opacity: 0.8;
}

.s6 #name-field:focus,
.s6 #email-field:focus,
.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 textarea {
  width: 82%;
  height: 98px;
  text-align: left;
  padding: 0.8rem 1rem;
}

.s6 textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea::placeholder {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
}

.s6 textarea:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

.s6 p {
  margin-top: 0.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  -webkit-text-fill-color: white;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.submit-btn {
  font-family: "Futura", sans-serif;
  pointer-events: all;
  margin-top: 1.3rem;
  padding: 1rem 2.3rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: solid 1px white;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;
}

.submit-btn:hover {
  cursor: pointer;
  font-size: 1rem;
  color: #510e66;
  background: #fff;
  mix-blend-mode: screen;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .s6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .s6 .text {
    height: 260px;
    text-align: right;
    z-index: 1;
  }
  .s6 h1 {
    margin-left: auto;
    text-align: right;
    font-size: 50px;
    opacity: 0.6;
    pointer-events: none;
  }
  .s6 p {
    text-align: right;
    opacity: 0.75;
    color: #fff;
    font-family: "Futura", sans-serif;
    max-width: 300px;
    font-size: 1rem;
    margin: 0;
    margin-left: auto;
  }
  .s6 .text {
    margin-top: 2rem;
  }
  .s6 .form {
    width: 310px;
    margin-left: 3.75rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .s6 .form .input,
  .s6 .form textarea {
    width: 100%;
  }
}

.footer {
  font-size: 1rem;
}

.footer .follow {
  margin-top: 2rem;
}

.footer .follow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.footer .email {
  margin-top: 1rem;
}

.footer .follow,
.footer .email {
  margin-left: 3rem;
}

.footer .dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.footer .social--links {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.footer .social--links a {
  margin-left: 0.5rem;
}

.footer .social--links #tw {
  background: #1da1f5;
}

.footer .social--links #ig {
  background: #c801a5;
}

.footer .social--links #re {
  background: #ec6220;
}

.footer .follow p,
.footer .email p {
  margin-top: 0.5rem;
  font-family: "Futura", sans-serif;
  font-size: 1rem;
  color: #aeaeae;
}

.footer .social--links a,
.footer .email a {
  text-decoration: none;
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.footer .email a {
  display: inline-block;
  margin-top: 0.45rem;
}

.footer .copyright--info {
  margin-left: 3rem;
  font-family: "Futura", sans-serif;
  font-size: 0.7rem;
  color: #aeaeae;
  margin-top: 1.8rem;
  padding-bottom: 20px;
  opacity: 0.7;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .follow {
    margin-left: 12%;
  }
  .footer .email {
    margin-top: 2rem;
    margin-right: 12%;
  }
  .footer .email p {
    width: 100%;
    text-align: right;
  }
  .footer .copyright--info {
    margin-left: 12%;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  html {
    background: #0d0020;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #0d0020;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(87, 35, 122, 0.4);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #57237a;
  }
  .mobile-hero {
    width: 100%;
  }
  #myvideo {
    height: 100%;
    display: block;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .particles {
    width: 100%;
    height: 2000px;
  }
  .s2 .text-wrapper h1 {
    font-size: 40px;
    opacity: 0.4;
    max-width: 800px;
  }
  .s2 .text-wrapper p {
    max-width: 580px;
    color: #ffffff;
    opacity: 0.8;
    margin-top: 20px;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */