* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: black;
  font-size: 16px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  src: url("../res/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir-Black";
  font-style: italic;
  src: url("../res/Avenir-BlackOblique.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("../res/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir";
  font-style: italic;
  src: url("../res/Avenir-LightOblique.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  src: url("../res/Futura Book font.ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  src: url("../res/Futura Book Italic font.ttf");
}

.preload,
.menu-hidden,
#myvideo,
.toggle-btn {
  display: none;
}

h1 {
  font-weight: 400;
}

.s1 {
  background-color: #0d0020;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 10;
  top: 0;
  opacity: 0;
}

.logo-top {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  opacity: 0;
  transform: translateX(-50%);
  transform-origin: center;
}

.hero {
  opacity: 0.8;
  height: 100vh;
  overflow: hidden;
}

.stick {
  height: 0;
  width: 100%;
  position: relative;
}

.mobile-hero {
  width: 400%;
  transform: translate(-25%, 0);
}

.scrollArrow {
  position: absolute;
  width: 40px;
  left: 50%;
  opacity: 0;
  z-index: 1;
}

.s2 {
  height: 100vh;
  width: 100%;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   grid-template-areas: ". texts2 .";
  display: flex;
}

.s2 .text-wrapper {
  margin: auto auto;
  padding: 0 0;
}

.s2 .text-wrapper h1 {
  color: #fff;
  font-family: "Avenir-Black", sans-serif;

  font-size: 1.5em;
  line-height: 1.5rem;
  max-width: 210px;
}

.s2 .text-wrapper p {
  font-family: "Futura";
  margin-top: 1rem;
  max-width: 230px;
  color: #aeaeae;
  width: 100%;
  font-size: 1rem;
}

.particles {
  height: 100%;
  position: absolute;
  z-index: 0;
}

.mobile-hero {
  height: 100%;
  pointer-events: none;
  z-index: 0;
  position: absolute;
  transform: translate(0px, 0px);
}

.video {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#myvideo {
  height: 100%;
  display: block;
  overflow: hidden;
  pointer-events: none;
  background: transparent;
  z-index: 1;
  // background: transparent url("./img/preview-2.png") 50% 50% / cover no-repeat;
  // background-size: cover;

  // background: transparent no-repeat url("./img/preview-2.png");
  // background-size: 50% 50%;
  // object-fit: fill;
}

@import "./work";
@import "./process";
@import "./services";
@import "./contact";
@import "./footer";

@media only screen and (min-width: 768px) and (orientation: landscape) {
  html {
    background: #0d0020;
  }
  ::-webkit-scrollbar {
    width: 7px;
    // height: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #0d0020;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(87, 35, 122, 0.4);
    // background: #3b1f49;
    // background: #8132a8;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 35, 122);
    // background: #ae4dbf;
    // background: rgb(136, 4, 148);
  }
  .mobile-hero {
    display: none;
  }
  #myvideo {
    height: 100%;
    display: block;
  }

  .particles {
    width: 100%;
    height: 2000px;
  }
  .s2 .text-wrapper h1 {
    font-size: 40px;
    opacity: 0.4;
    max-width: 800px;
  }
  .s2 .text-wrapper p {
    // font-family: "Avenir", sans-serif;
    max-width: 600px;
    color: #ffffff;
    opacity: 0.8;
    margin-top: 20px;
    font-size: 1rem;
  }
}
